<div class="row">
    <div class="col">
        <div id="show-heading" class="row">
            <div class="col">
                <h2 class="text-center">Chats</h2>
            </div>
        </div>
        <hr>
        <%= turbo_stream_from "chat_links" %>
        <%= turbo_frame_tag "chat_links" do %>
            <div class="row row-cols-1 row-cols-md-3 g-4">
                <%= render partial: 'shared/chat_link', collection: @chats, as: :chat, locals: { user: @authenticated_user }  %>
            </div>
        <% end %>
    </div>

</div>