<div class="row">
    <div class="col">
        <div id="show-heading" class="row">
            <div class="col">
                <h2 class="text-center">Chats</h2>
            </div>
            <div class="col">
                <%= render "shared/new_chat_form", chat: @chat %>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col">
                <%= turbo_stream_from "chat_links" %>
                <%= turbo_frame_tag "chat_links" do %>
                    <%= render partial: 'shared/chat_link', collection: @chats, as: :chat, locals: { user: @authenticated_user }  %>
                <% end %>
            </div>
        </div>

    </div>

</div>