<div class="row">
    <div class="col">
        <div id="user-show-heading" class="row">
            <div class="col">
                <h2 class="text-center">Chats</h2>
            </div>
            <div class="col">
                <%= render "shared/new_chat_form", chat: @chat %>
            </div>
        </div>
    <hr>
    <div class="row row-cols-1 row-cols-md-4 g-4">
        <%= render partial: 'shared/chat_link', collection: @chats, as: :chat  %>
    </div>

    </div>

</div>