<%= form_with model: [user, chat], remote: true, class: 'row g-3 align-items-center' do |f|%>
    <div class="col-auto">
        <%= f.label :screen_name, "Start A Chat", class: "col-form-label" %>
    </div>
    <div class="col-auto">
        <%= f.text_field :screen_name, label: "screen name", class: "form-control", placeholder: "Search a Screen Name" %>

    </div>
    <% if flash.notice || @chat.errors.count > 0%>

        <span id="passwordHelpInline" class="form-text"> 
            <%= flash.notice %>
        </span>

    <% end %>

<% end %>
