<div class="row">
    <div class="message-info">
        <strong><%= link_to  chat.name, chat %></strong>
        <small class="text-muted"><%= chat.messages.last.created_at.localtime.strftime("%I:%M %p") %></small>
    </div>
    <p><%= chat.messages.last.content %></p>
</div>
