<div class="container">
    <div class="row">
        <div class="col">
            <div id="messages-heading">
                <h2>Messages</h2>
                <%= button_to "New Chat", new_chat_path, :method => "get", class: "btn btn-primary" %>            
            </div>

            <hr>
            <%= render  @chats%>
        </div>
    </div>
</div>


