<div class="container">
    <div class="row">
        <div class="col">
            <h2>New Chat</h2>
            <%= render  "shared/new_chat_form", chat: @chat, user: @authenticated_user %>
            <%= render  "shared/messages_container", messages: [], message: @message, chat: @chat, user: @authenticated_user %>
        </div>
    </div>
</div>