<div class="container">
    <div class="row">
        <div class="col">
            <h2>New Chat</h2>
            <p>Start a chat with </p>
            <%= render  "shared/new_chat_form", chat: @chat, user: @authenticated_user %>
        </div>
    </div>
</div>