<div class="row pb-5">
    <div class="col">
        <div class="row">
            <div class="col">
                <div id="show-heading" class="row">
                    <h2 class="text-center"><%= @chat.name %></h2>
                
                </div>
            </div>
        </div>
        <hr>
        <div class="row">

        </div>
    </div>
    <div class="row">
        <div class="col ">
        

        </div>
    </div>
</div>