/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

#body {
    background-color: #333;
    color: whitesmoke
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
background: background-color: rgb(30, 33, 36);
; 
}

/* Handle */
::-webkit-scrollbar-thumb {
background: #666; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: rgb(64, 132, 88); 
}

#logo{
    color: rgb(64, 132, 88)
}

.green {
    color: rgb(64, 132, 88)
}

#messages-container {
    background-color: rgb(30, 33, 36);
    height: 75vh;
    overflow-y: auto;
    scrollbar-width: thin;
    padding: 1em;
}

#message-form{
    padding: 1em;
    background-color: rgb(30, 33, 36);
}

.message-container {
    display: flex;
}

.user-message-container{
    display: flex;
    justify-content: flex-end;
}

.user-message {
    width: fit-content;
    border: #666 solid 1px;
    /* max-width: 70%; */
    padding: 1em;
    border-radius: 5px;
    margin-bottom: 1em;
}

.user-message p {
    margin: 0%;
}
.message p {
    margin: 0%;
}

.message-info {
    /* border: red solid 1px; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-right: 1em;
}
.message-info strong {
    margin-right: .5em;
}

#messages-heading {
    padding-top: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chat-link-container {
    background-color: #333;

}

.chat-link-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#show-heading {
    /* height: 5vh; */
    padding-top: 1em;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}



.form-container {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-tile{
    border: rgb(64, 132, 88) solid 1px;
    padding: 1em 2em;
    border-radius: .25rem;

}

#reg-tile {
    min-width: 350px;
}

.heading {
    /* border: blue solid 1px; */
    margin-bottom: 2em;
}

.form {
    margin-bottom: 1em;
}

.submit-links {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}